.swatch {
    height: 2em;
    width: 3em;
    border: 1px solid black;
}

.modal-swatch {
    aspect-ratio: 4/3;
}

.badge {
    border: 1px solid black;
}

.list-group-item {
    min-height: 4em !important;
}