.swatch {
    height: 2em;
    width: 3em;
    border: 1px solid black;
}

@media only screen and (max-width : 992px) {
    .modal-swatch {
        height: 50%;
    }
}

@media only screen and (min-width : 992px) {
    .modal-swatch {
        aspect-ratio: 4/3;
    }
}

.badge {
    border: 1px solid black;
}

.list-group-item {
    min-height: 4em !important;
}